[Unit]
Description=Lock the screen on resume from suspend
Before=sleep.traget suspend.target hibernate.target

[Service]
User=probe
Environment=DISPLAY=:0
ExecStart=/home/probe/.config/scripts/lock.sh

[Install]
WantedBy=sleep.target suspend.target hibernate.target
