[Unit]
Description=Lock the screen on resume from suspend

[Service]
User=probe
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/probe/.config/scripts/lock.sh

[Install]
WantedBy=sleep.target suspend.target
Before=sleep.traget suspend.target
