[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/probe/.config/i3/scripts/lock.sh

[Install]
WantedBy=suspend.target
